.vote-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Roboto;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C2E9FF;    width: 375px;
  box-sizing: border-box;
  padding: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-self: flex-start;
  width: 100%;
  flex: 1;
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
    height: 50px;
    width: 50px; 
    font-size: 36px;
    line-height: 42px;
    color: white;
    background: rgba(0, 130, 253, 0.37);
  }
}

.vote-content {
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question-wrapper{
  h1 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #2A3947;
  }
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    // source: https://stackoverflow.com/questions/12297600/how-to-remove-default-chrome-style-for-select-input
    
    box-sizing: border-box;
    margin: 10px; //20px 20px;//0px 20px 0px 20px;
    width: 100%;
    flex: 1;

    background: white;
    font-size: 24px;
    line-height: 28px;


    // box-sizing: border-box;
    // margin: 10px;
    // font-size: 24px;
    // width: 300px;
    // height: 30px;
    // color: white;
    // background: none;
    // border-top: none;
    // border-left: none;
    // border-right: none;
    // outline: none;

    // border-bottom: 4px solid #FF7A00;
    }

    .first {
      box-sizing: border-box;
      border: 6px solid #FFF500;// #FFF500;
      // margin: 20px; //20px 0px 20px 0px;

    }

    .second {
      box-sizing: border-box;
      border: 6px solid #42BBFF;
      // margin: 20px; //20px 0px 20px 0px ;

    }
}

.submit-button button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  
  margin-top: 30px;

  width: 300px;
  height: 75px;
  font-size: 24px;
  line-height: 28px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFA800 100%), #FFF500;
}

.submit-button a {
  color: #2A3947;
  text-decoration: none;
}