#mobile-waiting-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C2E9FF;    width: 375px;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 60px 30px 60px 30px;// 20px 10px 20px;
}

#waiting-joke {
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #2A3947;

    h1 {
        font-size: 36px;
        text-align: center;
    }
}

.base-loading {
    position: absolute;
    width: 189px;
    height: 189px;
    left: 93px;
    top: 279px;
}

#waiting-info {
    color: #000000;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    text-align: center;

    h2 {
        font-size: 24px;
        text-align: center;
    }
}