//add in scss
.round-score-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-image: linear-gradient(180deg, #86D3FF 0%, #DEF2FD 100%);


  * {
    box-sizing: border-box;
  }
}

.round-title {
  display: flex;
  align-items: center;
  flex: 1;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  * {
    margin: 15px;
  }
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 75px;
    text-decoration: underline;
  }
  h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 56px;
    color: #60B7FF;
  }

  // * {
  //   margin: 0;
  //   padding: 0;
  // }
}

.player-scores {
  display: flex;
  flex-direction: column;
  flex: 1;

  .player-round-score {
    display: flex;
    justify-content: center;
    align-items: center;

    .player-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      height: 100px;
      width: calc(100% - 30px);
      background-color: #FFF500;
      margin: 15px;
      h3 {
        color: #FF7A00;
      }
    }
  }
}


// #room_code
// {h1{
//   margin-left: 5%;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 50px;
//   line-height: 75px;
//   padding-bottom: 10px;
//   display: flex;
//   align-items: center;
//   color: #FFFFFF;
//   text-decoration: underline;
//   text-underline-position: under;
//   text-decoration-color:  #FFA800;
// }
// }


// h3{
//   margin-left: 5%;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 30px;
//   line-height: 75px;
//   display: flex;
//   align-items: center;
//   text-align: center;

//   color: #FFF500;
// }

// #start_round_button{
//   align-self: center;
//   background: linear-gradient(180deg, #FFF500 0%, #FFA800 79.69%, #FF7A00 100%), #60B7FF;
//   /* White */
//   border: 5px solid #FFFFFF;
//   box-sizing: border-box;
//   margin-left: 5%;
// }

// #start_round{
//   background-color: Transparent;
//   background-repeat:no-repeat;
//   border: none;
//   overflow: hidden;
//   outline:none;
//   font-family: Roboto;
//   font-style: normal;

//   font-weight: normal;
//   font-size: 30px;
//   line-height: 75px;
//   display: flex;
//   align-items: center;
//   flex-direction: center;
//   text-align: center;

//   color: #2A3947;

//   /* Darkest Dark */
//   /* White */

// }

// #player{
  
//   img{
//       // background: url(Screen Shot 2019-05-15 at 10.56.png);
//   border-radius: 144.5px;
//   }

//   .name{font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 32px;
//   line-height: 37px;
//   display: flex;
//   align-items: center;

//   color: #000000;}


// }
